<style type="text/css">

</style>

<div class="row">
    <div class="col-sm-3">
        <ul class="list-group">
            <% site.tags.each(function(obj,i){ %>
                <li class="list-group-item">
                    <span class="badge"><%= obj.length %></span>
                    <a href="<%= url_for('tags/'+obj.name+'/') %>" target="_blank">
                        <%= obj.name %>
                    </a>
                </li>
            <% }) %>
        </ul>
    </div>
    <div class="col-sm-9">
        <% site.posts.sort('-date').each(function(obj,i){ %>
            <div class="row box-wrapper">
                <div class="col-sm-2 box-date">
                    <p><%- date(obj.date, 'DD') %></p>
                    <p><%- date(obj.date, 'MM/YYYY') %></p>
                </div>
                <div class="col-sm-10 box-content">
                    <h3><a href="<%= url_for(obj.path) %>" target="_blank"><%= obj.title %></a></h3>

                    <p>
                    <% obj.tags.each(function(o,i){ %>
                        <%= o.name %>
                    <% }) %>
                    </p>
                    
                </div>
            </div>
        <% }) %>
    </div>
</div>