<style type="text/css">
*{
    box-sizing: border-box;
    font-family: ""
}

.box-wrapper{
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 8px;
    background: #eee;
}
.box-date{
    text-align: right;
}
.box-date p:first-child{
    font-size: 24px;
    font-weight: bolder;
}
.box-date p:last-child{
    
}
.box-content{
    background: #fefefe;
}
.box-content h3:first-child{
    box-shadow: 0 0 8px #ccc;
    padding: 8px;
}
</style>

<div class="row">
    <div class="col-sm-3">
        <ul class="list-group">
            <% site.tags.each(function(obj,i){ %>
                <li class="list-group-item">
                    <span class="badge"><%= obj.length %></span>
                    <%= obj.name %>
                </li>
            <% }) %>
        </ul>
    </div>
    <div class="col-sm-9">
        <% site.posts.sort('-date').each(function(obj,i){ %>
            <div class="row box-wrapper">
                <div class="col-sm-2 box-date">
                    <p><%- date(obj.date, 'D') %></p>
                    <p><%- date(obj.date, 'MM/YYYY') %></p>
                </div>
                <div class="col-sm-10 box-content">
                    <h3><%= obj.title %></h3>
                    <p>
                        <%- obj.content %>
                    </p>
                </div>
            </div>
        <% }) %>
    </div>
</div>