<div class="row">
    <div class="col-sm-12">
        <div class="row box-wrapper">
            <div class="col-sm-2 box-date">
                <p><%- date(page.date, 'DD') %></p>
                <p><%- date(page.date, 'MM/YYYY') %></p>
            </div>
            <div class="col-sm-10 box-content">
                <h3>
                  <a href="<%= url_for(page.path) %>" target="_blank">
                    <%= page.title %>
                  </a>
                </h3>

                <p>
                  <% page.tags.each(function(o,i){ %>
                      <%= o.name %>
                  <% }) %>
                </p>

                <%- page.content %>
            </div>
        </div>
    </div>
</div>