<div class="row">
    <div class="col-sm-12">
        <div class="row box-wrapper">
            <div class="col-sm-2 box-date">
                <p><%- date(page.date, 'DD') %></p>
                <p><%- date(page.date, 'MM/YYYY') %></p>
            </div>
            <div class="col-sm-10 box-content">
                <h3>
                  <a href="javascript:;" target="_blank">
                    <%= page.title %>
                  </a>
                </h3>

                <p>
                  <% page.tags.each(function(o,i){ %>
                      <%= o.name %>
                  <% }) %>
                </p>

                <%- page.content %>
            </div>
        </div>
    </div>
</div>
<!-- 多说评论框 start -->
<div class="ds-thread" data-thread-key="<%- date(page.date, 'X') %><%= page.title %>" data-title="<%= page.title %>" data-url="<%= config.url %>/<%= page.path %>"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    var duoshuoQuery = {short_name:"44162148"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
</script>
<!-- 多说公共JS代码 end -->